.head {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width:100%
}

.items-container {
  text-align: left;
}

.Pr-btn {
  min-width: 80px;
}

.Pr-row {
  margin: 10px 5px;
}